main#content
	article.post
		section.post-date
			h2.mt-0.mb-0.uppercase !{projects[i].project[0].category}
			p.mt-0 !{projects[i].project[0].date}
		//- h2.mt-0
		//- 	a.category(href="publications-working_papers.html").negative-gap !{projects[i].project[0].category}
		//- 	<br> !{projects[i].project[0].date}
		section.post-body
			header
				h1.mt-0 !{projects[i].project[0].title}
				h3.mt-0 !{projects[i].project[0].function}

			section.p-0.post-content
				p !{projects[i].project[0].textlong}
				//- if projects[i].project[0].image
				//- 	img.img-fluid(src=projects[i].project[0].image)
				if projects[i].project[0].soundcloud
					<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src=!{projects[i].project[0].soundcloud}></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-218567832" title="ERC Imagine" target="_blank" style="color: #cccccc; text-decoration: none;">ERC Imagine</a> · <a href="https://soundcloud.com/user-218567832/interview-with-professor-jan-komarek" title="Interview with Professor Jan Komarek" target="_blank" style="color: #cccccc; text-decoration: none;">Interview with Professor Jan Komarek</a></div>
			section.p-0
				if projects[i].project[0].tags
					.hashtags
						nav.nav-menu
							ul.navbar-nav
								if projects[i].project[0].tags
									each item in projects[i].project[0].tags
										li.nav-item
											a.nav-link.tags(href=item.link + ".html") !{item.name}
			section
				p !{projects[i].project[0].textlonger}
				a.btn2(href="#") !{projects[i].project[0].twitter_link}
				if projects[i].project[0].email
					a.btn.negative-gap(href="mailto:"+projects[i].project[0].email) !{projects[i].project[0].email}
				if projects[i].project[0].web
					a.btn(href=projects[i].project[0].web alt="Click to web profile") Web profile

	//- article
	//- 	h2.category.mt-0.negative-gap
	//- 		if projects[i]
	//- 			a.negative-gap(href="single"+i+".html") !{projects[i].project[0].category} <br><br>
	//- 			span !{projects[i].project[0].date}
	//- 		if projects[i].project[0].image
	//- 			img.img-fluid(src=projects[i].project[0].image)
	//- 	section.negative-gap
	//- 		header
	//- 			h2.mt-0 !{projects[i].project[0].title}
	//- 		section.p-0
	//- 			p !{projects[i].project[0].textlong}
	//- 			if projects[i].project[0].soundcloud
	//- 				<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src=!{projects[i].project[0].soundcloud}></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-218567832" title="ERC Imagine" target="_blank" style="color: #cccccc; text-decoration: none;">ERC Imagine</a> · <a href="https://soundcloud.com/user-218567832/interview-with-professor-jan-komarek" title="Interview with Professor Jan Komarek" target="_blank" style="color: #cccccc; text-decoration: none;">Interview with Professor Jan Komarek</a></div>

	//- 		footer.p-0.negative-gap
	//- 			.hashtags
	//- 				nav.nav-menu
	//- 					ul.navbar-nav
	//- 						each item in projects[i].project[0].tags
	//- 							li.nav-item
	//- 								a.nav-link(href=item.link + ".html") !{item.name}