article.post.pb-gap(aria-label=proj.project[0].title)
	header
		h1.mt-0.mb-0
			a.negative-gap(href="single"+ index +".html").underline !{proj.project[0].title}
		h2.mt-0 !{proj.project[0].function}
		
	section.p-0
		p.mt-0 !{proj.project[0].text}
	footer
		if proj.project[0].email
			a.negative-gap.negative-gap-top(href="mailto:"+proj.project[0].email).btn.negative-gap !{proj.project[0].email}
		if proj.project[0].web
			a.btn.negative-gap-top(href=proj.project[0].web , alt="Click to web profile") Web profile of !{proj.project[0].title}
		if proj.project[0].image
			img.img-fluid(src=proj.project[0].image alt="!{proj.project[0].text}")

